[Unit]
Description=Elasticsearch Service
After=multi-user.target

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
ExecStart=/home/pi/elasticsearch/bin/elasticsearch 2>&1 /var/log/elasticsearch.log
TimeoutSec=600
Restart=on-failure
RestartSec=5s
