[Unit]
Description=Telemetry Service
After=multi-user.target

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
ExecStart=/home/pi/git/yacy_grid_mcp/data/apps/elasticsearch/bin/elasticsearch 2>&1 /var/log/elasticsearch.log
TimeoutSec=600
Restart=on-failure
RestartSec=5s
